<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <style>
        body {
          background-image: url('https://drscdn.500px.org/photo/299664693/q%3D80_h%3D450/v2?sig=47deac71afd7b3b135267dc036dbf7dd49035528e9e0b2ba9f1d28dbc0f0e96f');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
        </style> 
    <form action="/" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username"><br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password"><br>
    <input type="submit" value="login">
    </form>

    <% if(Boolean(errorLogin) === true) { %> 
        <div style="color: red;">
          Something's wrong with your credential, please recheck !
        </div>
      <% } %>
  
</body>
</html>