<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style>
        body {
          background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fbackground&psig=AOvVaw28oF5Gsq_oZNqtDNDGKeY0&ust=1598661742821000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCICapJzVvOsCFQAAAAAdAAAAABAI');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
        </style> 
    <a href="/profiles">List Profile</a><br>
    <a href="/jobs/add">Add Job</a> 
    <table border="1">
        <tr>
            <td>No.</td>
            <td>Job</td>
            <td>Description</td>
            <td>Action</td>
        </tr>
        <%dataFeature.forEach((el,idx)=>{%>
            <tr>
                <td><%=idx + 1%></td>
                <td><%=el.name%></td>
                <td><%=el.description%></td>
                <td>
                    <button><a href="/jobs/<%=el.id%>/edit">Edit</a></button>
                </td>
            </tr>
        <%})%>
    </table>
</body>
</html>