<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs')%>
<body>
    <table>
    <form method="POST" action="/profile">
        <label for="name">`Name</label><br>
        <input type="text" name="name"><br><br>
        <label for="description">Description</label><br>
        <input type="text" name="description"><br><br>
        <br><br>
        <input type="submit" value="login" style="color: white; background-color: blue;">        
    </form>
</table>
</body>

</html>